<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adroit.backend" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hub"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".createQuiz"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".createQuestion"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".myQuiz"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".backendQuizInfo"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
